{% extends 'base.html.twig' %}

{% block title %}Paramètre{% endblock %}

{% block body %}

<div class="container mt-5">
  <div class="d-flex justify-content-center">
    <div class="card p-5">
      {{ form_start(ChangerMDP) }}
      <div class="card text-center">
        <h2 class="text-uppercase">Nouveau mot de passe</h2>
      </div>
      <div class="card-body">
        <div class="form-outline mb-4">
          {{ form_row(ChangerMDP.plainPassword.first, {
              label: 'Nouveau mot de passe', 
              'attr':{'placeholder':'Nouveau mot de passe','class': 'form-control'}
          }) }}
        </div>

        <div class="form-outline mb-4">
          {{ form_row(ChangerMDP.plainPassword.second, {
              label: 'Retapez le mot de passe',
              'attr':{'placeholder':'Retapez le mot de passe','class': 'form-control'}
          }) }}
        </div>

          <button type="submit" class="btn btn-lg btn-primary btn-block">Finaliser</button>
      {{ form_end(ChangerMDP) }}
      </div>
    </div>
  </div>
</div>

{% endblock %}