body{
  background: #F5F7FF;
  margin: 0;
  padding: 0;
}

.main-panel{
  background: #F5F7FF;
  width: 100%;
}

.main-panelPost{
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
}

.bas{
  text-align: center;
  position:relative;
}

.ti-arrow-up{
  color: white;
}

.arrowUP{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #4b49ac;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}

/* ---------------------------------------------------------------------------------------------------------------------------- */
/* DÉBUT TWEET */
.noneUnderline {
  text-decoration: none !important;
  color: #6C7383;
  width: 30%;
}

.noneUnderline:hover {
  text-decoration: none !important;
  color: #6C7383;
}

.rounded{
  display: block;
  margin-top:2%;
}

.container {
  margin-top: 5px;
}

.gridTweet{
  display: grid;
  grid-template-columns:  15% 85%;
  gap: 5px;
  text-decoration: none;
}

.pseudoTweet{
  padding-left: 10 px ;
}

.basTweet{
  display: grid;
  grid-template-columns:  20% 40% 30%;
}

.pfpTweet{
  border-radius: 50%;
  width:50px;
  height:50px;
}

.contenuTweet{
  padding: 10px;
}

.contenuTweet img{
  width:100%;
  max-width:350px;
  margin-bottom: 3%;
}

.card{
  margin-right: 2%;
  margin-left: 2%;
}

.filled {
  fill: #6C7383;
}

.unfilled {
  stroke: #888888;
}

svg {
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
}

#myPost:hover:not(.header){
  background-color:#eff1f8 !important;
}

/* FIN TWEET */
/* ---------------------------------------------------------------------------------------------------------------------------- */


/* .parametreHead{
  position: absolute;
  left: 40%;
  top:10%;
}

.parametreContent{
  justify-content: space-between !important;
} */

/* #cardParametre1{
  margin-left: 120%;
  margin-top: 8%;
}

#cardParametre2{
  min-width: 600px;
  margin: auto;
}

#cardParametre3{
  margin: auto;
} */

/* .contentPWD{
  font-family: FontAwesome;
  src: url('fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
} */

/* .interactionPoste{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
} */
  