{% extends 'base.html.twig' %}

{% block title %}Message {{message.id}}{% endblock %}

{% block body %}

    <div class="main-panelPost">
        {% include 'post.html.twig'%}
    </div>  

{% endblock %}