{% extends 'base.html.twig' %}

{% block title %}Message {{message.id}}{% endblock %}

{% block body %}
    <div class="tweetPrecis">
        <div class="mai n-panel">
            {% include 'post.html.twig'%}
        </div>  
    </div>

{% endblock %}