<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
        <a class="nav-link" href="{{ path('app_index') }}">
            <i class="icon-grid menu-icon"></i>
            <span class="menu-title">Accueil</span>
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#auth">
            <i class="icon-head menu-icon"></i>
            <span class="menu-title">Profil</span>
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#auth">
            <i class="ti-email menu-icon"></i>
            <span class="menu-title">Tweet</span>
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#auth">
            <i class="ti-email menu-icon"></i>
            <span class="menu-title">Message</span>
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{{ path('app_parametre') }}">
            <i class="ti-settings menu-icon"></i>
            <span class="menu-title">Paramètre</span>
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{{ path('app_logout') }}">
            <i class="ti-close menu-icon"></i>
            <span class="menu-title">Déconnexion</span>
        </a>
        </li>
    </ul>
</nav>